lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.gcode

pids
logs
results
bin/arduino_reset
bin/packages
tmp
.vagrant
.next
/package-lock.json
packages/*/package-lock.json
packages/tegh-web-ui/out

*.snap
snap/parts/
snap/prime/
snap/snap/
snap/stage/
snap/snap/
snap/*.tar.bz2

coverage

lerna-debug.log
npm-debug.log
node_modules
sftp-config.json
yarn-error.log
ubuntu-xenial-16.04-cloudimg-console.log
packages/tegh-host-posix/log
packages/*/build
packages/*/dist


packages/*/android/app/build

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html

.dat-data
