[Unit]
Description=Construct 3D Printer Server

[Service]
ExecStart=/usr/share/construct-daemon/bin/construct-daemon --exec
StandardOutput=syslog
SysLogIdentified=construct-daemon
User=nobody
Group=users
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Nice=-10
OOMScoreAdjust=-500
IOSchedulingClass=realtime
PrivateTmp=true

[Install]
WantedBy=multi-user.target