[Unit]
Description=Tegh 3D Printer Server

[Service]
ExecStart=/usr/share/tegh-daemon/bin/tegh-daemon --exec
StandardOutput=syslog
SysLogIdentified=tegh-daemon
User=nobody
Group=users
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Nice=-10
OOMScoreAdjust=-500
IOSchedulingClass=realtime
PrivateTmp=true

[Install]
WantedBy=multi-user.target