[Unit]
Description=Teg-embedded WebRTC Streamer
Wants=network.target
After=network.target

[Service]
# EnvironmentFile=-/etc/environment
ExecStart=/usr/local/etc/teg/webrtc-streamer/webrtc-streamer -H 127.0.0.1:8009
SyslogIdentifier=teg-webrtc-streamer
Restart=always
TimeoutStopSec=30
Type=simple

[Install]
WantedBy=multi-user.target
