[Unit]
Description=Teg-embedded WebRTC Streamer
Wants=network.target
After=network.target

[Service]
# EnvironmentFile=-/etc/environment
ExecStart=/usr/local/etc/webrtc-streamer/webrtc-streamer
SyslogIdentifier=teg-webrtc-streamer
Restart=always
TimeoutStopSec=30
Type=simple

[Install]
WantedBy=multi-user.target
