[Unit]
Description=Teg Health Monitor
Wants=network.target
After=network.target teg-server.service

[Service]
# EnvironmentFile=-/etc/environment
ExecStart=/usr/local/etc/teg/teg-health-monitor
WorkingDirectory=/usr/local/etc/teg/
SyslogIdentifier=teg-health-monitor
Restart=always
TimeoutStopSec=30
Type=simple

[Install]
WantedBy=multi-user.target
