on: [push]

name: Build Release Artifacts

jobs:
  x64_build:
    name: Build x64 Rust Binaries
    runs-on: ubuntu-18.04
    if: startsWith(github.ref, 'refs/tags/')
    env:
      # SQLX_OFFLINE: "true"
      CARGO_INCREMENTAL: 0
      RUSTFLAGS: "-C debuginfo=0"
      DATABASE_URL: "postgres://postgres:postgres@localhost/postgres"
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install Dependencies
        run: >
          sudo apt-get install
          lld
          libbsd-dev
          protobuf-compiler
          zip
          unzip
      - name: Database Setup
        run: |
          cargo install sqlx-cli --no-default-features --features postgres
          cd ./crates/server && sqlx database setup
      - name: Build X64 Release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      # X86 Debug/Release folder structure
      - name: Create artifact folder structure
        run: TEG_ARCH=x86_64 ./scripts/ci/create-artifact
      - name: Upload the Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: teg-x86_64
          path: ./artifact-working-dir
      # Upload the Release Artifact
      - name: Zip Release Binaries
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cd ./artifact-working-dir
          zip -r ../teg-x86_64.zip ./
      - name: Upload X86 Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ./teg-x86_64.zip

  arm_v7_build:
    name: Build ARMv7 Rust Binaries
    runs-on: ubuntu-18.04
    env:
      # SQLX_OFFLINE: "true"
      CARGO_INCREMENTAL: 0
      RUSTFLAGS: "-C debuginfo=0"
      DATABASE_URL: "postgres://postgres:postgres@localhost/postgres"
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: armv7-unknown-linux-gnueabihf
      - name: Install multiarch support
        run: |
          sudo sed -i 's/deb http/deb [arch=i386,amd64] http/g' /etc/apt/sources.list
          echo "deb [arch=armhf] http://bg.ports.ubuntu.com/ bionic main restricted" | sudo tee -a /etc/apt/sources.list
          echo "deb [arch=armhf] http://bg.ports.ubuntu.com/ bionic-updates main restricted" | sudo tee -a /etc/apt/sources.list

          sudo dpkg --add-architecture armhf
          sudo apt-get update
          sudo apt --fix-broken install
          sudo apt-get install gcc-multilib g++-multilib
      - name: Install Dependencies
        run: >
          sudo apt-get install
          gcc-arm-linux-gnueabihf
          g++-arm-linux-gnueabihf
          g++-multilib-arm-linux-gnueabihf
          gcc-multilib-arm-linux-gnueabihf
          lld
          libbsd-dev
          libbsd-dev:armhf
          protobuf-compiler
          zip
          unzip
          build-essential
          cmake
          pkg-config
          libssl-dev
          clang
      # - name: Check install
      #   run: dpkg -S arm-linux-gnueabihf-gcc
      - name: Database Setup
        run: |
          cargo install sqlx-cli --no-default-features --features postgres
          cd ./crates/server && sqlx database setup
      # Armv7 Debug Builds
      - name: Build ARMv7 (Debug)
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=armv7-unknown-linux-gnueabihf

      # Armv7 Release Builds
      - name: Build ARMv7 (Release)
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=armv7-unknown-linux-gnueabihf

      # Armv7 Debug/Release folder structure
      - name: Create artifact folder structure
        run: TEG_ARCH=armv7l ./scripts/ci/create-artifact
      - name: Upload the Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: teg-armv7l
          path: ./artifact-working-dir
      # Upload the Release Artifact
      - name: Zip Release Binaries
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cd ./artifact-working-dir
          zip -r ../teg-armv7l.zip ./
      - name: Upload ARMv7 Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ./teg-armv7l.zip
